footer {
    background-color: orange;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    height: 64px;
    width: 100px;
    padding-left: 16px;
}